/* ==========================================| FONTES |========================================== */

@font-face {
    font-family: lato-bold;
    src: local('fonts/Lato-Bold.ttf'), url('fonts/Lato-Bold.ttf');
    src: url('fonts/Lato-Bold.ttf') format('opentype');
}

@font-face {
    font-family: lato-light;
    src: local('fonts/Lato-Light.ttf'), url('fonts/Lato-Light.ttf');
    src: url('fonts/Lato-Light.ttf') format('opentype');
}

@font-face {
    font-family: lato-regular;
    src: local('fonts/Lato-Regular.ttf'), url('fonts/Lato-Regular.ttf');
    src: url('fonts/Lato-Regular.ttf') format('opentype');
}

@font-face {
    font-family: roboto-bold;
    src: local('fonts/Roboto-Bold.ttf'), url('fonts/Roboto-Bold.ttf');
    src: url('fonts/Roboto-Bold.ttf') format('opentype');
}

@font-face {
    font-family: roboto-light;
    src: local('fonts/Roboto-Light.ttf'), url('fonts/Roboto-Light.ttf');
    src: url('fonts/Roboto-Light.ttf') format('opentype');
}
@font-face {
    font-family: roboto-medium;
    src: local('fonts/Roboto-Medium.ttf'), url('fonts/Roboto-Medium.ttf');
    src: url('fonts/Roboto-Medium.ttf') format('opentype');
}

@font-face {
    font-family: roboto-regular;
    src: local('fonts/Roboto-Regular.ttf'), url('fonts/Roboto-Regular.ttf');
    src: url('fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
    font-family: barlow-regular;
    src: local('fonts/Barlow-Regular.ttf'), url('fonts/Barlow-Regular.ttf');
    src: url('fonts/Barlow-Regular.ttf') format('opentype');
}

/* ==========================================| GERAL |========================================== */

*{
    margin: 0;
    padding: 0;
    font-family: roboto-medium, sans-serif;
    font-size: 16px;
    color:#435561;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    vertical-align:middle;
}

.erro{
    font-family: lato-bold,sans-serif;
    font-size: 1.2rem;
    color: red;
}

.btn-login{
    position: absolute;
    top: 5%;
    right: 5%;
}

/* ==========================================| MENU |========================================== */

.logonav{
    width: 7rem;
}

.nav-link{
    padding-bottom: 0;
}

.navbarChange{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.4);
}

.navbar-collapse{
    display: flex;
    flex-direction: row;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
}

/* ==========================================| INICIO |========================================== */

#inicio{
    background: url('../img/BG.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 4rem;
}

.bemvindo {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(30, end);
    animation-iteration-count: infinite;
    color: #fff;
}

.bemvindo::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

@keyframes typewriter {
    0%, 100% {
        width: 0;
    }
    20%, 80% {
        width: 15em;
    }
}
@keyframes caret {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.logofuse{
    width: 3rem;
    height: 5rem;
}

.brand{
    color: #fff;
    /* align-self: flex-start;
    padding-left: 2rem; */
}

/* ==========================================| OBJETIVO |========================================== */

#objetivo{
    background: url('../img/Slide_logo.png') no-repeat center center;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.objetivo{
    font-family: roboto-bold, sans-serif;
    padding-right: 20rem;
    padding-left: 4rem;
}

/* ==========================================| HABILIDADES |========================================== */

#habilidades{
    background: url('../img/Slide_logo_contorno_esq.png') no-repeat center center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidades{
    width: 80%;
    margin: 2rem 0;
}

/* ==========================================| TRILHAS |========================================== */

#trilhas{
    background: url('../img/Slide_logo_contorno_black.png') no-repeat center center;
    background-size: cover;
}

#trilhas .titulo-trilhas{
    color: #fff;
    text-align: center;
}

.logotrilha{
    width: 1.75rem;
}

#trilhas .trilhas{
    border: 0.5rem solid #2F528F;
    padding: 0.5rem 1.5rem;
    margin-top: 3rem;
}

#trilhas .btn-block{
    margin: 1rem 0;
}

#trilhas ul{
    margin: 0;
    padding: 0 1rem;
}

#trilhas .verticais{
    width: 8rem;
    height: 5rem;
}

/* ==========================================| MODAL |========================================== */

.modal-header .close{
    margin: 0;
    padding: 0;
}

.modal-header{
    align-items: center;
}

/* ==========================================| REDES SOCIAIS |========================================== */

#redesSociais{
    z-index: 1;
}

#redesSociais a {
    position: fixed; /* Position them relative to the browser window */
    left: -7.5rem; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 0.5rem;
    width: 10rem; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    text-align: right;
}

#redesSociais a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

#redesSociais .social-logo{
    width: 2rem;
    height: 1.5rem;
}

#linkedin {
    bottom: 30%;
    background-color: #282828;
}

#youtube {
    bottom: 25%;
    background-color: #282828; /* Blue */
}

#instagram {
    bottom: 20%;
    background-color: #282828; /* Red */
}

#facebook {
    bottom: 15%;
    background-color: #282828 /* Light Black */
}

#tiktok {
    bottom: 10%;
    background-color: #282828 /* Light Black */
}

/* ==========================================| RESPONSIVO |========================================== */

@media only screen and (max-width: 992px) {
    /* MENU */

    .navbar-nav .nav-link{
        padding: 0.5rem;
    }
    /* INICIO */

    #inicio{
        justify-content: center;
    }

    .bemvindo {
        white-space: normal;
        animation: none;
        display: inline;
        font-size: 2rem;
    }
    
    .bemvindo::after {
        content: "";
        animation: none;
    }

    .brand{
        align-self: center;
        padding-left: 0;
        font-family: roboto-light, sans-serif;
    }

    /* LEMA */

    .objetivo{
        font-family: roboto-medium, sans-serif;
        padding-right: 8rem;
        font-size: 1rem;
    }

    /* HABILIDADES */

    #habilidades{
        height: auto;
    }

    /* REDES SOCIAIS */

    #redesSociais a {
        left: -8.5rem;
        width: 10rem;
    }

    #redesSociais .social-logo{
        width: 0.8rem;
        height: 0.8rem;
    }
}