/* ==========================================| FONTES |========================================== */

@font-face {
    font-family: lato-bold;
    src: local('fonts/Lato-Bold.ttf'), url('fonts/Lato-Bold.ttf');
    src: url('fonts/Lato-Bold.ttf') format('opentype');
}

@font-face {
    font-family: lato-light;
    src: local('fonts/Lato-Light.ttf'), url('fonts/Lato-Light.ttf');
    src: url('fonts/Lato-Light.ttf') format('opentype');
}

@font-face {
    font-family: lato-regular;
    src: local('fonts/Lato-Regular.ttf'), url('fonts/Lato-Regular.ttf');
    src: url('fonts/Lato-Regular.ttf') format('opentype');
}

@font-face {
    font-family: roboto-bold;
    src: local('fonts/Roboto-Bold.ttf'), url('fonts/Roboto-Bold.ttf');
    src: url('fonts/Roboto-Bold.ttf') format('opentype');
}

@font-face {
    font-family: roboto-light;
    src: local('fonts/Roboto-Light.ttf'), url('fonts/Roboto-Light.ttf');
    src: url('fonts/Roboto-Light.ttf') format('opentype');
}
@font-face {
    font-family: roboto-medium;
    src: local('fonts/Roboto-Medium.ttf'), url('fonts/Roboto-Medium.ttf');
    src: url('fonts/Roboto-Medium.ttf') format('opentype');
}

@font-face {
    font-family: roboto-regular;
    src: local('fonts/Roboto-Regular.ttf'), url('fonts/Roboto-Regular.ttf');
    src: url('fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
    font-family: barlow-regular;
    src: local('fonts/Barlow-Regular.ttf'), url('fonts/Barlow-Regular.ttf');
    src: url('fonts/Barlow-Regular.ttf') format('opentype');
}

/* ==========================================| GERAL |========================================== */

*{
    margin: 0;
    padding: 0;
    font-family: roboto-medium, sans-serif;
    font-size: 16px;
    color:#435561;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

.titulo{
    font-family: roboto-bold, sans-serif;
    color: #2d2f63;
}

.btn-padrao{
    font-family: lato-bold, sans-serif;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
}

/* ==========================================| MENU |========================================== */

header .navbar{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.4);
}

header .header-logo{
    width: 10rem;
    height: 3rem;
}

header .navbar-nav{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

header .nav-item{
    margin-left: 1.5rem;
}

/* ==========================================| BANNER |========================================== */

#banner{
    background: url('../img/Banner.svg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.banner-lead{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.8);
    padding:2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.4);
}

.banner-titulo{
    font-size: 2rem;
}

.banner-texto{
    font-family: roboto-light, sans-serif;
    margin-top: 1rem;
}

.banner-btn{
    margin-top: 1rem;
}

/* ==========================================| IOT |========================================== */

#iot .container{
    padding: 3rem 12rem 0 12rem;
}

#iot .iot{
    padding: 3rem 0;
}

#iot span{
    font-size: inherit;
}

#iot .col-md-6{
    height: 20rem;
    margin: 1rem 0;
}

#iot .verticais{
    padding: 1rem 0;
}

#iot .bg-verticais{
    height: 80%;
    width: 100%;
}

/* ==========================================| SOLUÇÕES |========================================== */

#carouselSolucoes{
    width: 100%;
    height: 80vh;
    /* position: relative; */
    z-index: 0;
}

.carousel-inner, .carousel-item{
    width: 100%;
    height: 100%;
}

/* #solucoes .carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
} */

#solucoes .btn-outline-success{
    color: #fff;
    border-width: 0.2rem;
    margin: 21% 30% 10% 50%;
}

.carousel-indicators{
    margin-right: 2rem;
}

.carousel-indicators li{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

#solucoes .bov{
    background: url('../img/bg1.jpg') no-repeat center center;
    background-size: cover;
}

#solucoes .utilities{
    background: url('../img/bg2.jpg') no-repeat center center;
    background-size: cover;
}

#solucoes .temp{
    background: url('../img/bg3.jpg') no-repeat center center;
    background-size: cover;
}

#solucoes .track{
    background: url('../img/bg4.jpg') no-repeat center center;
    background-size: cover;
}

#solucoes .parking{
    background: url('../img/bg5.jpg') no-repeat center center;
    background-size: cover;
}

/* ==========================================| ACADEMY |========================================== */

#academy{
    background: url('../img/academy.png') no-repeat center center;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.btn-academy{
    font-size: 1.5rem;
}


/* ==========================================| NÃO ENCONTROU |========================================== */

.naoEncontrou{
    margin: 3rem auto 0 auto;
    width: 60%;
    text-align: center;
    background-color: #1ca14b;
    border-radius: 1rem;
    padding: 2rem;
}

.naoEncontrou-titulo{
    color: #fff;
    font-family: roboto-bold, sans-serif;
    padding: 0 30%;
}

.naoEncontrou-texto{
    color: #fff;
    font-family: roboto-light, sans-serif;
    padding: 0 10%;
}

.btn-naoEncontrou{
    background-color: #303e48;
    color: #fff;
    margin-top: 2rem;
}

/* ==========================================| CONTATO |========================================== */

#contato .container{
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#contato .formulario{
    padding: 0 2rem 0 9rem;
}

#contato .titulo{
    margin-bottom: 2rem;
}

#contato input{
    border-radius: 2rem;
    font-family: roboto-light, sans-serif;
}

#contato textarea{
    border-radius: 1rem;
    font-family: roboto-light, sans-serif;
    resize: none;
}

/* ==========================================| MODAL CONTATO |========================================== */

.modal-content{
    border-radius: 1.5rem;
}

.modal-body{
    padding: 2rem;
}

.modal h3{
    color:#2d2f63;
    font-weight: 700;
}

.modal p{
    color:#435561;
    margin-bottom: 2rem;
}

/* ==========================================| RODAPÉ |========================================== */

footer{
    background-color: #323e48;
}

footer .row{
    padding: 2rem 10rem 0.5rem 10rem;
}

footer .footer-logo{
    width: 7rem;
    /* height: 3rem; */
}

footer .footer-politica{
    text-align: right;
    list-style: none;
}

footer .footer-politica a{
    font-size: 0.8rem;
    color:#435561;
}

footer hr{
    margin: 0;
    font-family: roboto-bold, sans-serif;
    border: 2px solid #435561;
    margin: 0 9rem;
}

footer .footer-direitos{
    text-align: center;
    font-size: 0.8rem;
    padding: 1rem 0;
}

/* ==========================================| REDES SOCIAIS |========================================== */

#redesSociais{
    z-index: 1;
}

#redesSociais a {
    position: fixed; /* Position them relative to the browser window */
    left: -7.5rem; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 0.5rem;
    width: 10rem; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    text-align: right;
}

#redesSociais a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

#redesSociais .social-logo{
    width: 2rem;
    height: 1.5rem;
}

#linkedin {
    bottom: 30%;
    background-color: #282828;
}

#youtube {
    bottom: 25%;
    background-color: #282828; /* Blue */
}

#instagram {
    bottom: 20%;
    background-color: #282828; /* Red */
}

#facebook {
    bottom: 15%;
    background-color: #282828 /* Light Black */
}

#tiktok {
    bottom: 10%;
    background-color: #282828 /* Light Black */
}


/* ==========================================| RESPONSIVO |========================================== */

@media only screen and (max-width: 992px) {
    /* HEADER */

    header .header-logo{
        width: 10rem;
        height: 2rem;
    }

    /* BANNER */

    .banner-lead{
        position: absolute;
        left: 10%;
        top: 20%;
        width: 80%;
    }

    .banner-titulo{
        font-size: 1.5rem;
    }

    /* IOT */

    #iot .container{
        padding: 3rem 2rem 0 2rem;
    }

    #iot .col-md-6{
        text-align: center;
    }

    /* SOLUCOES */

    #solucoes .carousel-item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .carousel-indicators{
        margin: 0 auto;
    }

    #solucoes .carousel-titulo{
        font-family: roboto-bold, sans-serif;
        text-align: center;
        color: #1ca14b;
    }

    #solucoes .titulo-solucao{
        color: #fff;
        text-align: center;
    }

    #solucoes .texto-solucao{
        border: 0.5rem solid #faad12;
        border-radius: 1rem;
        font-family: roboto-light, sans-serif;
        color: #fff;
        margin: 0 4rem;
        padding: 0.5rem;
    }

    #solucoes .btn-outline-success{
        margin: 0 auto 2rem auto;
    }

    #solucoes .bov{
        background: url('../img/01_.jpg') no-repeat center center;
        background-size: cover;
    }
    
    #solucoes .utilities{
        background: url('../img/02_.jpg') no-repeat center center;
        background-size: cover;
    }
    
    #solucoes .temp{
        background: url('../img/03_.jpg') no-repeat center center;
        background-size: cover;
    }
    
    #solucoes .track{
        background: url('../img/04_.jpg') no-repeat center center;
        background-size: cover;
    }
    
    #solucoes .parking{
        background: url('../img/05_.jpg') no-repeat center center;
        background-size: cover;
    }

    /* ACADEMY */

    #academy{
        background: url('../img/academyRESP.png') no-repeat center center;
        background-size: cover;
    }

    /* NÃO ENCONTROU */

    .naoEncontrou{
        width: 90%;
    }

    .naoEncontrou-titulo{
        padding: 0;
        margin-bottom: 2rem;
    }

    .naoEncontrou-texto{
        padding: 0;
        text-align: justify;
    }

    /* CONTATO */

    #contato .formulario{
        padding: 0 2rem;
    }

    #contato .localizacao{
        margin-top: 3rem;
        padding: 0 2rem;
    }

    /* FOOTER */

    footer .row{
        padding: 1rem 3rem;
    }

    footer .footer-politica{
        margin-top: 1rem;
    }

    footer hr{
        margin: 0 2rem;
    }

    /* REDES SOCIAIS */

    #redesSociais a {
        left: -8.5rem;
        width: 10rem;
    }

    #redesSociais .social-logo{
        width: 0.8rem;
        height: 0.8rem;
    }
}