/* ==========================================| FONTES |========================================== */

@font-face {
    font-family: lato-bold;
    src: local('fonts/Lato-Bold.ttf'), url('fonts/Lato-Bold.ttf');
    src: url('fonts/Lato-Bold.ttf') format('opentype');
}

@font-face {
    font-family: lato-light;
    src: local('fonts/Lato-Light.ttf'), url('fonts/Lato-Light.ttf');
    src: url('fonts/Lato-Light.ttf') format('opentype');
}

@font-face {
    font-family: lato-regular;
    src: local('fonts/Lato-Regular.ttf'), url('fonts/Lato-Regular.ttf');
    src: url('fonts/Lato-Regular.ttf') format('opentype');
}

@font-face {
    font-family: roboto-bold;
    src: local('fonts/Roboto-Bold.ttf'), url('fonts/Roboto-Bold.ttf');
    src: url('fonts/Roboto-Bold.ttf') format('opentype');
}

@font-face {
    font-family: roboto-light;
    src: local('fonts/Roboto-Light.ttf'), url('fonts/Roboto-Light.ttf');
    src: url('fonts/Roboto-Light.ttf') format('opentype');
}
@font-face {
    font-family: roboto-medium;
    src: local('fonts/Roboto-Medium.ttf'), url('fonts/Roboto-Medium.ttf');
    src: url('fonts/Roboto-Medium.ttf') format('opentype');
}

@font-face {
    font-family: roboto-regular;
    src: local('fonts/Roboto-Regular.ttf'), url('fonts/Roboto-Regular.ttf');
    src: url('fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
    font-family: barlow-regular;
    src: local('fonts/Barlow-Regular.ttf'), url('fonts/Barlow-Regular.ttf');
    src: url('fonts/Barlow-Regular.ttf') format('opentype');
}

/* ==========================================| GERAL |========================================== */

*{
    margin: 0;
    padding: 0;
    font-family: roboto-medium, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    vertical-align:middle;
}

header .navbar{
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.4);
}

header .navbar-nav{
    border-top: 2px solid #B2B2B2;
    padding: 0.5rem 1rem 0 1rem;
}

header .navbar-light .navbar-nav .nav-link{
    color: #fff;
}

header .header-logo{
    width: 15rem;
    height: 5rem;
}

header .btn-academy{
    background-color: #EC5252;
}

header .btn{
    border-radius: 0;
    margin-right: 0.5rem;
}
header .carrinho{
    width: 1.5rem;
    height: 1.5rem;
}

header .carrinho:hover{
    border: 1px solid #EC5252;
}

#banner{
    background: url('../img/Banner IOT.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#banner .titulo-banner{
    font-family: roboto-bold, sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
}

#banner .sub-banner{
    font-family: lato-bold, sans-serif;
    font-size: 1.2rem;
    padding-right: 20%;
    margin-bottom: 2rem;

}

#banner .text-banner{
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 20vh 10vw;
    color: #fff;
}

#banner .btn-banner{
    background-color: #9A6E17;
    color: #fff;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

#cards{
    background-color: #9A6E17;
}

#cards .card-deck{
    margin-top: -10rem;
}

#cards .card{
    border: none;
    background: url('../img/Boxbranco.jpg') no-repeat center center;
    background-size: cover;
    padding: 1rem;
    margin: 0 2.5rem;
}

#cards .card:hover{
    background: url('../img/boxamarelo.jpg') no-repeat  center;
    background-size: cover;
}

#cards .card:hover .btn-card{
    border: none;
    background-color: #531E8A;
    color: #fff;
}

#cards .card-body{
    padding: 0 1rem;
}

#cards .icon-card{
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

#cards .card-title{
    font-family: roboto-bold, sans-serif;
    margin-bottom: 2rem;
    font-size: 1rem;
}

#cards ul{
    list-style: none;
    margin-bottom: 2rem;
}

#cards ul li svg{
    margin-right: 1rem;
}

#cards ul li{
    font-family: roboto-light, sans-serif;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

#cards .btn-card{
    border: 3px solid #FFBB00;
    padding: 0.5rem 1rem;
    border-radius: 0;
    font-family: roboto-light, sans-serif;
    font-size: 0.8rem;
}